p {
  font-size: 1.05em;
  color:rgb(150,0,255);
  font-weight: bold;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}
h2 {
  font-size: 30px;
  color: #680e68;
}
h3 {
  color:rgba(255, 0, 150, 250)
}
div > ul {
  margin: 0 auto;
  width: 80%;
}
a a:link a:visited a:active{
 background-color: yellow;
}
a [target="blank"] {
  font-size: 1em;
}
a:hover {
  color: teal;
}
a:focus {
  color: black;
}
img {
  float: inline-end;
}