body {
  font-weight: bold;
}

form {
  margin-bottom: 3em;
  width: 25em;
}

input {
  margin-bottom: 1em;
}

fieldset {
  margin-bottom: 1em;
}

select {
  margin-bottom: 1em;
}

.mus {
  display: block;
}